<h1>recently submitted kwerries</h1>

<table class="highlight">
	<thead>
		<tr>
			<th data-field="name">by</th>
			<th data-field="title">title</th>
			<th data-field="question"><img src='assets/images/kwerries-square.png' alt='Square kwerry' class='smallSquareLogo'></th>
			<th data-field="dateTime">date/time</th>
			<th data-field="answers">answers</th>
		</tr>
	</thead>
	<tbody id="kwerryTableRecent"></tbody>
</table>