html, body {
	width: 100%;
	height: 100%;
}

.mainRow {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-bottom: 0px;
}

.sideContainer {
	width: 90%;
	margin: 40px auto;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

span.badge {
	position: relative;
	right:0;
}

.sidebar {
	background-color: black;
	height: 100%;
	color:white;
}

.btn, .btn-large {
    background-color: #00a651;
    color:#fff;
    text-transform: lowercase;
}

.card-panel {
    background-color: #b9354a;
    color: #ffafad;
}

h1 {
	color: #b9354a;
}

h2 {
	color: #b9354a;
}

#cancel {
	margin-right: 15px;
}

#modalLogin {
	overflow: hidden;
}

#modalLogin .modal-footer {
	padding: 0px 35px;
}

.smallSquareLogo {
	max-width: 30px;
	height: auto;
}

.sidebar {
	height: 100%;
}

.mainContent {
	height: 100%;
	overflow-y: scroll;
}