
<div class="container">
        <div class="row">
            <form action="" method="post" class="form-signin mg-btm">
                <h3 class="heading-desc">
                    Login</h3>

                <div class="main">
                    <label>UserName</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="username" class="form-control" placeholder="" autofocus>
                    </div>
                    <label>Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="">
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                             
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <button type="submit" value="Login" class="btn btn-large btn-success pull-right">Access Account </button>
                        </div>
                    </div>
                    <div class="demo">
                        For demo use: jasmine / 1234
                    </div>
                </div>
            </form>

        </div>
    </div>
