<!--Product View-->

<div>
    {{#product_data}}

        <!--Product Name-->
        <h1>{{name}}</h1>

        <!--Product Info-->
        <p> </p>

        <!--Product Image-->
        <img src={{image_url}}>


    {{/product_data}}
</div>

