<!--Add New Product-->

<div class="main">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col s12">

                    <!-- FORM -->
                    <section class="form-content">
                        <div class="tab-pane">
                            <h3>Enter product details</h3>
                            <div class="lighter"><p>Subtext goes here</p></div>
                            <div class="spacer-10"></div>

                            <div class="tab-content">
                                <form action="/add-new" method="POST" role="form">

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                            <label for="first_name">First Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" type="text" class="validate">
                                            <label for="last_name">Last Name</label>
                                        </div>
                                    </div>

                                    <div class="spacer-10"></div>

                                    <div class="row">
                                        <a class="waves-effect waves-light btn">button</a>
                                    </div>




                                </form>
                            </div>



                        </div>
                    </section>


                </div>




            </div>
        </div>
    </div>
</div>