<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>JJJ :: Jewelry Box</title>
	
	<!-- Favicon image -->
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />

	<!-- Google Fonts - Josefin -->
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,400italic,600,600italic,700,100italic|Josefin+Slab:400,400italic,600,600italic,700,300' rel='stylesheet' type='text/css'>

    <!-- Google Fonts - Materialize - Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize - Compiled and minified CSS -->
	<link rel="stylesheet" href="assets/css/materialize.min.css">

    <!-- OUR CUSTOM FILES -->
    <link rel="stylesheet" type="text/css" href="assets/css/materialize.override.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.content.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jeremiah.css">

    <!--JS FILES GOES AFTER CSS-->

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

	<!-- Materialize - Compiled and minified JavaScript -->
	<script src="assets/js/materialize.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>

	<!-- moment.js -->
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

    <div class="main">
        <div class="row">

            <!--Sidebar-->
            <div class="sidebar">

                <!--Logo-->
                <div class="logo center">
                    <a href="/"><img class="logo-img" id="headerLogo" src="assets/images/theJewelryBox-Top.png" alt="JJJ Jewelry Box"></a>
                </div>

                <!--Nav-->
                <div class="nav">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <a href="/"><i class="material-icons">web</i>Dashboard</a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons md-light">account_box</i>Clients</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/clients">Search Clients</a></li>
                                    <li><a href="/create-client">Add New Client</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons md-light">watch</i>Products</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/products">Search Products</a></li>
                                    <li><a href="/create-product">Add New Product</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons md-light">description</i>Invoices</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/invoices">Search Invoices</a></li>
                                    <li><a href="/create-invoice">Create New Invoice</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header">
                                <a href="/logout"><i class="material-icons">power_settings_new</i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--Footer-->
                <div class="footer center-align">
                    <a href="#">© 2016 - JJJ Jewelry Box</a>
                </div>

            </div>

            <!--Content-->
            <div class="content">
                {{{body}}}
            </div>

        </div>
    </div>
	
	<!-- Modal1 -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4 id="modal1Header"></h4>
			<p id="modal1Text"></p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Kewl</a>
		</div>
	</div>

	<!-- Login Modal-->
	<div id="modalLogin" class="modal">
		<div class="modal-content">
			<h4 id="modalLoginHeader"></h4>
			<p id="modalLoginText">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input id="loginEmail" type="email" class="validate">
						<label for="email" data-error="please enter a valid email">Enter Your Email</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input id="loginPassword" type="password" class="validate">
						<label for="icon_prefix">Choose A Password</label>
					</div>
				</div>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn waves-effect waves-light" type='button' id="loginSubmit">Submit
				<i class="material-icons right">send</i>
			</button>
			<button class="btn waves-effect waves-light" type='button' id="cancel">Cancel
				<i class="material-icons right">close</i>
			</button>
		</div>
	</div>

    <!--Helper functions to initialize Materialize CSS-->
	<script type="text/javascript" src="assets/js/materialize.override.js"></script>
    <script type="text/javascript" src="assets/js/jeremiah.js"></script>
    <script type="text/javascript">
        var lineItemChange = function() {
            console.log('qty changed!');
            var qtyChange = $( "#productQty" ).val().trim();
            var prodLinePrice = $('#productPrice').val().trim();
            var prodLineDiscount = $('#productDisc').val().trim();
            var prodLineTotal = (qtyChange * prodLinePrice)-prodLineDiscount;
            prodLineTotal = prodLineTotal.toFixed(2);
            $('#productTotal').val(prodLineTotal);
            $('#subtotal').val(prodLineTotal);
            var taxes = prodLineTotal * 0.07;
            taxes = taxes.toFixed(2);
            $('#tax').val(taxes);
            var total = prodLineTotal * 1.07;
            total = total.toFixed(2);
            $('#totalPrice').val(total);
        };
    </script>
</body>
</html>