<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>JJJ - Jewelry Box - Run The Jewelry (Store)!</title>
	
	<!-- Favicon image -->
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<!-- Standard reset.css from http://meyerweb.com/eric/tools/css/reset/ -->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<!-- Josefin Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,400italic,600,600italic,700,100italic|Josefin+Slab:400,400italic,600,600italic,700,300' rel='stylesheet' type='text/css'>
	<!-- Materiallize - icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Materiallize - Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<!-- Our custom css file -->	
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- Minified jquery -->
	<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
	<!-- Materiallize - Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<!-- link to firebase -->
	<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
	<!-- moment.js -->
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
	
	<div class="row mainRow">
		<div class="sidebar col s2">
			<div class="sideContainer">
				<a href="index.html" class="brand-logo"><img id="headerLogo" src="assets/images/theJewelryBox-Top.png" alt="the JJJ Jewelry box logo"></a>
				<ul class="collapsible" data-collapsible="accordion">
					<li><a href="/"><i class="material-icons">web</i>Dashboard</a></li>
					<li>
						<div class="collapsible-header"><i class="material-icons md-light">account_box</i>Clients</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="/search-clients">Client Search</a></li>
								<li><a href="/my-clients">All My Clients</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons md-light">watch</i>Products</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="/search-products">Product Search</a></li>
								<li><a href="/all-products">All Products</a></li>
								<li><a href="/create-products">Create Product</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons md-light">description</i>Invoices</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="/my-clients">Create New Invoice</a></li>
								<li><a href="/search-clients">Invoice Search</a></li>
								<li><a href="/my-clients">All Invoices</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons md-light">build</i>Work Orders</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="/my-clients">Create New Work Order</a></li>
								<li><a href="/search-clients">Work Order Search</a></li>
								<li><a href="/my-clients">All Work Orders</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons md-light">face</i>Employees</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="/search-clients">Employee Search</a></li>
								<li><a href="/my-clients">All Employees</a></li>
								<li><a href="/my-clients">Create New Employee</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
				</ul>
				<div class="footer center-align">
					© 2016 - thejjjjewelrybox.com
				</div>
			</div>
		</div>
		<div class="mainContent col s10">
			{{{body}}}	
		</div>
	</div>
	
	<!-- Modal1 -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4 id="modal1Header"></h4>
			<p id="modal1Text"></p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Kewl</a>
		</div>
	</div>

	<!-- Login Modal-->
	<div id="modalLogin" class="modal">
		<div class="modal-content">
			<h4 id="modalLoginHeader"></h4>
			<p id="modalLoginText">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input id="loginEmail" type="email" class="validate">
						<label for="email" data-error="please enter a valid email">Enter Your Email</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input id="loginPassword" type="password" class="validate">
						<label for="icon_prefix">Choose A Password</label>
					</div>
				</div>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn waves-effect waves-light" type='button' id="loginSubmit">Submit
				<i class="material-icons right">send</i>
			</button>
			<button class="btn waves-effect waves-light" type='button' id="cancel">Cancel
				<i class="material-icons right">close</i>
			</button>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible({
				accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
			});
		});
	</script>

</body>
</html>